body {
	background-color:white;
	color:black;
	padding: 0px 3.125%;
}

header img {
	float:left;
	margin-right: 5px;
}

header {
	overflow: auto;
	width: 100%
}

blockquote {
	margin: 1.5625% 6.25%;
}

.textDimensionCalculation {
	position: absolute;
	visibility: hidden;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	height: auto;
	width: auto;
}
