b {
	font: bold 12pt serif;
}

p {
	font: normal 12pt Times;
}

tt {
	font: normal 10pt Courier, monospace;
}

pre {
	font: normal 10pt Courier, monospace;
}

body {
	font: normal 12pt serif;
}

td {
	font: normal 12pt serif;
}

th {
	font: bold 12pt serif;
}

h1 {
	font: bold 14pt serif;
}

h3 {
	font: bold 14pt serif;
}

h4 {
	font: bold 12pt serif;
}

ul {
	font: normal 12pt serif;
}











