#!/bin/sh -e

HOME={{ ORACLE_USER_HOME }}
HZ=
LOGNAME={{ ORACLE_USER }}
ORACLE_BASE={{ ORACLE_BASE }}
ORACLE_HOME={{ ORACLE_HOME }}
PATH=$PATH:$ORACLE_HOME/bin
LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
ORA_OWNER={{ ORACLE_USER }}
ORACLE_SID={{ SID }}
ORACLE_TERM=vt100
export ORA_NLS11=$ORACLE_HOME/nls/data
PATH=$ORACLE_HOME/bin:$ORACLE_HOME/lib:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/sbin
SHELL=/bin/sh
TERM=vt100

TZ={{ TIMEZONE }}

# Change these!
SERVICE_NAME={{ ACS_SERVICE_NAME }}
DATABASE_PASSWORD={{ ORA_SYSTEM_PASSWORD }}

# The default location with Oracle Express.
exportdir={{ ORACLE_BASE }}/admin/XE/dpdump/

file=$exportdir/expdat.dmp 

rm -f $file

if [ -f $file.gz ]; then 
  mv -f $file.gz $file.old.gz 
fi

su - $ORA_OWNER --command="expdp SYSTEM/oracle FULL=YES"
gzip $file
