[ns/db/drivers]
ora8=nsoracle.so

[ns/db/pool/main]
Driver=ora8
Connections=4
DataSource=
User={{ ACS_ORACLE_USER }}
Password={{ ACS_ORACLE_PASSWORD }}
Verbose=On
ExtendedTableInfo=On

[ns/db/pool/subquery]
Driver=ora8
Connections=4
DataSource=
User={{ ACS_ORACLE_USER }}
Password={{ ACS_ORACLE_PASSWORD }}
Verbose=On
ExtendedTableInfo=On

[ns/db/pool/log]
Driver=ora8
Connections=3
DataSource=
User={{ ACS_ORACLE_USER }}
Password={{ ACS_ORACLE_PASSWORD }}
Verbose=On
ExtendedTableInfo=On

[ns/db/pools]
main=main
subquery=subquery
log=log

[ns/parameters]
User={{ AOL_SERVER_USER }}
ServerLog={{ AOL_HOME }}/log/{{ ACS_DOMAIN_NAME }}-error.log
Home={{ AOL_SERVER_PREFIX }}
StackSize=500000
auxconfigdir={{ AOL_SERVER_WEBROOT }}/{{ ACS_DOMAIN_NAME }}/parameters
pidfile={{ AOL_PID_FILE }}

[ns/threads]
; use more than 1 processor (Solaris)
SystemScope=on

[ns/server/{{ ACS_DOMAIN_NAME }}/module/nscache]
CacheADP=on

[ns/server/{{ ACS_DOMAIN_NAME }}]
PageRoot={{ AOL_SERVER_WEBROOT }}/{{ ACS_DOMAIN_NAME }}/www
DirectoryFile=index.tcl, index.adp, index.html, index.htm 
Webmaster={{ ACS_ADMINISTRATOR_EMAIL }}
NoticeBgColor=#ffffff
EnableTclPages=On
NotFoundResponse={{ AOL_SERVER_WEBROOT }}/{{ ACS_DOMAIN_NAME }}/www/global/file-not-found.html
ServerBusyResponse={{ AOL_SERVER_WEBROOT }}/{{ ACS_DOMAIN_NAME }}/www/global/busy.html
ServerInternalErrorResponse={{ AOL_SERVER_WEBROOT }}/{{ ACS_DOMAIN_NAME }}/www/global/error.html
MaxThreads=50
MaxBusyThreads=20
MaxWait=2

[ns/server/{{ ACS_DOMAIN_NAME }}/db]
Pools=*
DefaultPool=main

[ns/server/{{ ACS_DOMAIN_NAME }}/adp]
Map=/*.adp

[ns/server/{{ ACS_DOMAIN_NAME }}/module/nslog]
EnableHostnameLookup=Off
File={{ AOL_HOME }}/log/{{ ACS_DOMAIN_NAME }}.log
LogCombined=On
LogRefer=Off
LogUserAgent=Off
MaxBackup=5
RollDay=*
RollFmt=%Y-%m-%d-%H:%M
RollHour=0
RollOnSignal=On
RollLog=On

[ns/server/{{ ACS_DOMAIN_NAME }}/module/nsperm]
model=Small
enablehostnamelookup=Off

[ns/server/{{ ACS_DOMAIN_NAME }}/module/nssock]
timeout=120
Address={{ ACS_IP_ADDRESS }}
Hostname={{ ACS_IP_ADDRESS }}
Port={{ ACS_PORT }}

; XXX: Read readme.txt in ns_openssl-2.1a tarball.
;[ns/server/{{ ACS_DOMAIN_NAME }}/module/nsopenssl]
;Address={{ ACS_IP_ADDRESS }}
;Hostname={{ ACS_IP_ADDRESS }}
;CertFile={{ AOL_HOME }}/cert.pem
;KeyFile={{ AOL_HOME }}/key.pem

[ns/server/{{ ACS_DOMAIN_NAME }}/modules]
nsperm=nsperm.so
nssock=nssock.so
nslog=nslog.so
nssha1=nssha1.so
nscache=nscache.so
;nsopenssl=nsopenssl.so

[ns/server/{{ ACS_DOMAIN_NAME }}/MimeTypes]
Default=text/plain
NoExtension=text/plain
.pcd=image/x-photo-cd
.prc=application/x-pilot

[ns/server/{{ ACS_DOMAIN_NAME }}/tcl]
Library={{ AOL_SERVER_WEBROOT }}/{{ ACS_DOMAIN_NAME }}/tcl

[ns/servers]
{{ ACS_DOMAIN_NAME }}={{ ACS_DOMAIN_NAME }} community system


[ns/setup]
ContinueOnError=On
Enabled=Off
Port=9879
