WHENEVER OSERROR EXIT 9;
WHENEVER SQLERROR EXIT SQL.SQLCODE;

spool create_acs_tablespace.log

-- DROP TABLESPACE {{ ACS_SERVICE_NAME }} INCLUDING CONTENTS AND DATAFILES;

create  tablespace {{ ACS_SERVICE_NAME }} 
        datafile '{{ ACS_DATA_DIR }}/{{ ACS_SERVICE_NAME }}.dbf' 
        size 50m autoextend on default storage 
        (pctincrease 1)
;
    
spool off

exit;
