#!/bin/sh -e

HOME={{ ORACLE_OWNER_HOME }}
HZ=
LOGNAME={{ ORACLE_OWNER }}
ORACLE_BASE={{ ORACLE_BASE }}
ORACLE_HOME={{ ORACLE_HOME }}
PATH=$PATH:$ORACLE_HOME/bin
LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
ORA_OWNER={{ ORACLE_OWNER }}
ORACLE_SID={{ SID }}
ORACLE_TERM=vt100
export ORA_NLS11=$ORACLE_HOME/nls/data
PATH=$ORACLE_HOME/bin:$ORACLE_HOME/lib:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/sbin
SHELL=/bin/sh
TERM=vt100

TZ={{ TIMEZONE }}

# Change these!
SERVICE_NAME={{ ACS_SERVICE_NAME }}
DATABASE_PASSWORD={{ ORA_SYSTEM_PASSWORD }}

# References:
# http://docs.oracle.com/cd/E11882_01/server.112/e22490/dp_export.htm#i1006259
# http://docs.oracle.com/cd/E11882_01/server.112/e22490/dp_overview.htm#i1009520
exportdir={{ ORACLE_HOME }}/rdbms/log/
file=$exportdir/expdat.dmp
mv -f $file.gz $file.old.gz
su - $ORA_OWNER --command="expdp SYSTEM/oracle FULL=YES"
gzip $file
