WHENEVER OSERROR EXIT 9;
WHENEVER SQLERROR EXIT SQL.SQLCODE;

spool create_acs.log

DROP USER {{ ACS_ORACLE_USER }} CASCADE;
DROP TABLESPACE {{ ACS_SERVICE_NAME }} INCLUDING CONTENTS AND DATAFILES;

create  tablespace {{ ACS_SERVICE_NAME }} 
        datafile '{{ ACS_DATA_DIR }}/{{ ACS_SERVICE_NAME }}.dbf' 
        size 50m autoextend on default storage 
        (pctincrease 1)
;
    
create  user {{ ACS_ORACLE_USER }} 
        identified by {{ ACS_ORACLE_PASSWORD }} 
        default tablespace {{ ACS_SERVICE_NAME }} 
        temporary tablespace {{ TEMP_TABLESPACE_NAME }}
        quota unlimited on {{ ACS_SERVICE_NAME }}
;

grant   connect
        -- These grants were given by the resource role in 11.2g.  Oracle
        -- has deprecated this role, so we use the indidual grants.
        , CREATE CLUSTER
        , CREATE INDEXTYPE
        , CREATE OPERATOR
        , CREATE PROCEDURE
        , CREATE SEQUENCE
        , CREATE TABLE
        , CREATE TRIGGER
        , CREATE TYPE
        -- end of grants from resource role.
        , CREATE VIEW
        , CREATE SYNONYM
        , ctxapp          -- free-text searching
        , query rewrite   -- transform query to use materialized views
        to {{ ACS_ORACLE_USER }}
;

-- XXX: Hmmm, after switching from resource role to individual grants, this
-- XXX: next statement started throwing errors.  That's not right ...
-- revoke  unlimited tablespace from {{ ACS_SERVICE_NAME }};

alter user {{ ACS_ORACLE_USER }} quota unlimited on {{ ACS_SERVICE_NAME }};

commit;

spool off

exit;
