#! /bin/sh -e

FN=$0.log

cat > check_initora.sql << EOF
spool $FN
select value from nls_session_parameters where parameter = 'NLS_DATE_FORMAT';
SELECT value FROM v$parameter WHERE name = 'open_cursors';
spool off
EXIT;
EOF

sqlplus system/{{ ORA_SYSTEM_PASSWORD }} @check_initora.sql

# Cursors should be 500.
if [ ! grep "^YYYY-MM-DD" $FN > /dev/null ] ;
  rm -f check_initora
  exit 1
fi

# NLS_DATE_FORMAT should be YYYY-MM-DD
if [ ! grep ^500 $FN > /dev/null ] ;
  rm -f check_initora
  exit 1
fi

exit 0
