-- Create Oracle database for ACS.
-- Created: Tue Aug 20 20:38:29 EDT 2013

WHENEVER OSERROR EXIT 9;
WHENEVER SQLERROR EXIT SQL.SQLCODE;

connect / as sysdba

startup nomount

CREATE DATABASE {{ SID }}
   USER SYS IDENTIFIED BY {{ ORA_SYS_PASSWORD }}
   USER SYSTEM IDENTIFIED BY {{ ORA_SYSTEM_PASSWORD }}
   LOGFILE GROUP 1 ('{{ REDO_DIR1 }}/redo01a.log','{{ REDO_DIR2 }}/redo01b.log') SIZE 100M BLOCKSIZE 512,
           GROUP 2 ('{{ REDO_DIR1 }}/redo02a.log','{{ REDO_DIR2 }}/redo02b.log') SIZE 100M BLOCKSIZE 512,
           GROUP 3 ('{{ REDO_DIR1 }}/redo03a.log','{{ REDO_DIR2}}/redo03b.log') SIZE 100M BLOCKSIZE 512
   MAXLOGFILES 5
   MAXLOGMEMBERS 5
   MAXLOGHISTORY 1
   MAXDATAFILES 100
   CHARACTER SET US7ASCII
   NATIONAL CHARACTER SET UTF8
   EXTENT MANAGEMENT LOCAL
   DATAFILE '{{ DATA_DIR }}/system01.dbf' SIZE 325M REUSE
   SYSAUX DATAFILE '{{ DATA_DIR }}/sysaux01.dbf' SIZE 325M REUSE
   DEFAULT TABLESPACE users
      DATAFILE '{{ DATA_DIR }}/users01.dbf'
      SIZE 500M REUSE AUTOEXTEND ON MAXSIZE UNLIMITED
   DEFAULT TEMPORARY TABLESPACE {{ TEMP_TABLESPACE_NAME }}
      TEMPFILE '{{ DATA_DIR }}/temp01.dbf'
      SIZE 20M REUSE
   UNDO TABLESPACE {{ UNDO_TABLESPACE_NAME }}
      DATAFILE '{{ DATA_DIR }}/undotbs01.dbf'
      SIZE 200M REUSE AUTOEXTEND ON MAXSIZE UNLIMITED;

CREATE TABLESPACE apps_tbs LOGGING
     DATAFILE '{{ DATA_DIR}}/apps01.dbf'
     SIZE 500M REUSE AUTOEXTEND ON NEXT  1280K MAXSIZE UNLIMITED
     EXTENT MANAGEMENT LOCAL;
-- create a tablespace for indexes, separate from user tablespace (optional)
CREATE TABLESPACE indx_tbs LOGGING
     DATAFILE '{{ DATA_DIR}}/indx01.dbf'
     SIZE 100M REUSE AUTOEXTEND ON NEXT  1280K MAXSIZE UNLIMITED
     EXTENT MANAGEMENT LOCAL;

@?/rdbms/admin/catalog.sql
@?/rdbms/admin/catproc.sql
@?/sqlplus/admin/pupbld.sql

exit
