#! /bin/sh -e
# Created: Sun Oct 13 20:13:40 EDT 2013
# Return 0 if SQL succeeds, 1 otherwise.

FN=$0.log
SAVEIFS=$IFS
IFS=$'\n'

# Default DB_RECOVERY_FILE_DEST_SIZE: 10,737,418,240
#     To figure out what this size should be, here are some good references:

# * A.1 Backing Up to the Flash Recovery Area: Basic Scenarios (10.2g)
#   http://docs.oracle.com/cd/B19306_01/backup.102/b14192/bkscenar001.htm#j1027311
#
# * Configuring the Fast Recovery Area (11.2g)
#   http://docs.oracle.com/cd/E11882_01/backup.112/e10642/rcmconfb.htm#i1019160
#
# * Good practical notes on flashback.
#   http://www.online-database.eu/index.php/administration/52-flashback-database
#
sqlplus system/{{ ORA_SYSTEM_PASSWORD }} > $FN << EOF
    connect / as sysdba;
    set echo on
    SHUTDOWN IMMEDIATE
    STARTUP MOUNT
    ALTER DATABASE ARCHIVELOG;
    ALTER DATABASE OPEN;
    ALTER SYSTEM SET DB_RECOVERY_FILE_DEST_SIZE = 20G;
EOF

EXPECTED_OUTPUT="
Database closed.
Database dismounted.
ORACLE instance shut down.
ORACLE instance started.
Database altered.
Database altered.
"

# Check that each expected line is in the log file in the correct order.
cp $FN t.out
for line in ${EXPECTED_OUTPUT}; do
    if grep "$line" t.out > /dev/null; then
        n=$(grep -m 1 -n "$line" t.out | cut -d : -f 1)
        n=$((n + 1))
        tail -n +$n t.out > t0.out
        mv t0.out t.out
    else
        echo "Looks like an error, we didn't find '$line' in '$FN'" 1>&2
        exit 1
    fi
done
IFS=$SAVEIFS
rm -f t.out
